################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo

/zzbs.GrpcDemo.ConsoleClient/obj
/zzbs.GrpcDemo.ConsoleClient/bin
/.vs

/zzbs.GrpcServiceDemo.DefaultServer/obj
/zzbs.GrpcServiceDemo.DefaultServer/bin
